<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <title>마니또 게시판</title>
    <style>

    </style>
</head>
<body>
<header>
    <a onclick="window.history.back(); return false;">
        <img th:src="@{/images/back.svg}" alt="back">
    </a>
    <span>마니또 게시판</span>
    <img th:src="@{/images/dots.svg}" alt="back">
</header>
<div class="container">

    <a href="community/create" class="btn">
        <img th:src="@{/images/plus.svg}" alt="back">
        <span>글 쓰기</span>
    </a>

    <div th:each="post : ${posts}">
        <div class="postbox" th:onclick="'navigateToPost(' + ${post.pid} + ')'">
            <h2 class="post-title" th:text="${post.postTitle}">Post Title</h2>
            <div class="post-line">
                <span class="post-content" th:text="${post.postContent}">Post Content</span>
                <span class="post-time" th:text="${#dates.format(post.regdate, 'MM/dd')}"></span>
            </div>
        </div>
        <div class="white-line"></div>
    </div>

</div>

<script>
    function navigateToPost(postId) {
        // let url = element.getAttribute("data-url");
        // console.log(url);
        location.href = "community/post/" + postId;
    }

    function toggleIconColor(element) {
        element.classList.toggle('clicked');
    }
</script>

<div th:replace="fragments/navbar :: navbar"></div>

</body>
</html>
