<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <title>마니또 게시판</title>
    <style>

    </style>
</head>
<body>
<header>
    <a onclick="window.history.back(); return false;">
        <img th:src="@{/images/back.svg}" alt="back">
    </a>
    <span>마니또 게시판</span>
    <img th:src="@{/images/dots.svg}" alt="back">
</header>
<div class="container">

    <a href="community/create" class="btn">
        <img th:src="@{/images/plus.svg}" alt="back">
        <span>글 쓰기</span>
    </a>

    <div class="post-list">
        <div th:each="post : ${posts}">
            <div class="postbox" th:onclick="'navigateToPost(' + ${post.pid} + ')'">
                <h2 class="post-title" th:text="${post.postTitle}">post-title</h2>
                <div class="post-line">
                    <span class="post-content" th:text="${post.postContent}">post-content</span>
                    <span class="post-time" th:text="${#dates.format(post.regdate, 'MM/dd')}"></span>
                </div>
            </div>
            <div class="white-line"></div>
        </div>
    </div>
</div>

<script>
    function navigateToPost(postId) {
        // let url = element.getAttribute("data-url");
        // console.log(url);
        location.href = "community/post/" + postId;
    }

    document.addEventListener('DOMContentLoaded', () => {
        const currentUrl = window.location.pathname;
        const navItems = document.querySelectorAll('.nav-item-box');

        navItems.forEach(item => {
            const link = item.querySelector('a');
            if (link && link.getAttribute('href') === currentUrl) {
                item.classList.add('clicked');
            }
        });
    });

    function toggleIcon(element, url) {
        const navItems = document.querySelectorAll('.nav-item-box');
        navItems.forEach(item => {item.classList.remove('clicked')});
        element.classList.add('clicked');

        window.location.href = url;
    }

</script>

<div th:replace="fragments/navbar :: navbar"></div>

</body>
</html>
