<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.postTitle}">post-title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/post-detail.css}">
    <style>

    </style>
</head>
<body>
<!--<div th:replace="fragments/header :: header"></div>-->

    <header class="post-header">
        <a href="/community">
            <img th:src="@{/images/back.svg}" alt="back">
        </a>
        <details class="dropdown">
            <summary>
                <img th:src="@{/images/dots.svg}" alt="menu dots">
            </summary>
            <div class="dropdown-content">
                <a href="#" onclick="editPost()">수정하기</a>
                <a href="#" onclick="deletePost()">삭제하기</a>
            </div>
        </details>
    </header>

<div class="container">
    <div class="detail-container">
        <div class="meta-box">
            <img th:src="@{/images/profile.svg}" alt="profile" class="profile-img">

            <div class="info-box">
                <span class="post-author">익명</span>
                <p class="post-meta">
                    <span th:text="${#dates.format(post.regdate, 'MM/dd HH:mm')}">Date</span>
                </p>
            </div>
        </div>
        <div class="contents">
            <span th:text="${post.postTitle}" class="post-title">Post Title</span>
            <div class="post-content" th:text="${post.postContent}">Post Content</div>
        </div>
    </div>

    <div class="reply-container">
        <div class="grey-line"></div>
        <div th:each="reply : ${replies}">
            <div class="reply-box">
                <div class="reply-infoline">
                    <div class="reply-profile-box">
                        <img th:src="@{/images/profile_square.svg}" alt="profile" class="reply-profile">
                        <p class="reply-author" th:text="익명">Author</p>
                    </div>
                    <details class="dropdown">
                        <summary>
                            <img th:src="@{/images/dots.svg}" alt="menu dots" class="reply-dots">
                        </summary>
                        <div class="dropdown-content">
                            <a href="#" th:onclick="'deleteReply(' + ${reply.rid} + ')'">삭제하기</a>
                            <div th:if="${error}" th:text="${error}" id="error-msg" style="display: none;"></div>
                        </div>
                    </details>
                </div>
                <div class="reply-textline">
                    <p class="reply-text" th:text="${reply.msg}">reply-msg</p>
                    <span class="reply-time" th:text="${#dates.format(reply.regdate, 'MM/dd HH:mm')}">reply-time</span>
                </div>
                <div class="grey-line"></div>
            </div>
        </div>
    </div>

        <form th:action="@{'/community/post/' + ${post.pid} + '/reply'}" method="post">

            <div class="msgbox">
                <textarea name="msg" required class="reply-input"></textarea>
                <button type="submit" class="btn">
                    <img th:src="@{/images/airplane.svg}" alt="send">
                </button>
            </div>
        </form>
</div>
<script>
    const postId = [[${post.pid}]];

    function editPost() {
        location.href = 'update?pid=' + postId;
    }

    function deletePost() {
        if (confirm('정말로 삭제하시겠습니까?'))
            location.href = 'delete?pid=' + postId;
    }

    function deleteReply(replyId) {
        if (confirm('정말로 삭제하시겠습니까?'))
            location.href = 'reply/delete?pid=' + postId + '&rid=' + replyId;

        // const url = `/reply/delete?pid=${postId}&rid=${replyId}`;

        // if (confirm('정말로 삭제하시겠습니까?')) {
        //     fetch(url, {
        //         method: 'GET',
        //         headers: {
        //             'X-Requested-With': 'XMLHttpRequest'
        //         },
        //     })
        //         .then(response => response.json())
        //         .then(data => {
        //             alert('삭제가 성공적으로 완료되었습니다.');
        //             location.reload(); // 페이지 새로 고침
        //         })
        //         .catch(error => {
        //             alert('삭제 요청 처리 중 오류가 발생했습니다.');
        //             console.error('Error:', error);
        //         });
        // }
    }

</script>
</body>
</html>
