<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/post-form.css}">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>

<body>

<header class="post-header">
    <a onclick="window.history.back(); return false;">
        <img th:src="@{/images/close.svg}" alt="close">
    </a>
    <button class="submit-btn">
        완료
    </button>
</header>

<div class="container">
    <form th:action="@{${post != null ? 'update' : 'create'}}" method="post" id="post-form" enctype="multipart/form-data">
<!--  post가 있을 때만, 렌더링 되도록 설정  -->
        <div class="submit-container">
            <input type="hidden" name="pid" th:if="${post != null}" th:value="${post.pid}">

            <input type="text" id="post-title" name="postTitle" placeholder="제목" required th:value="${post != null ? post.postTitle : ''}">
            <div class="grey-line"></div>
            <textarea id="post-content" name="postContent" placeholder="내용을 입력하세요" rows="10" required
                  th:text="${post != null ? post.postContent : ''}"> </textarea>
        </div>
        <input type="file" id="post-image" name="postImage" accept="image/*">
    </form>
    <div class="bottom-box">
        <a onclick="triggerFileInput(); return false;">
            <img th:src="@{/images/camera.svg}" alt="image">
        </a>
    </div>
</div>

<script>
    document.querySelector('.submit-btn').addEventListener('click', function() {
        document.getElementById('post-form').submit();
    });

    function triggerFileInput() {
        document.getElementById('post-image').click();
    }
</script>

</body>
</html>
