<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.postTitle}">Post Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!--<div th:replace="fragments/header :: header"></div>-->
<div class="container">
    <h2 th:text="${post.postTitle}">Post Title</h2>
    <div class="post-content" th:text="${post.postContent}">Post Content</div>
    <p class="post-meta">
        Posted on <span th:text="${post.regdate}">Date</span> by <span th:text="${post.userId}">Author</span>
    </p>

    <h2>Comments</h2>
    <div th:each="reply : ${replies}" class="reply">
<!--        <p class="comment-author" th:text="${reply.isManito ? '마니또' : '익명'}">Author</p>-->
            <p class="comment-author" th:text="익명">Author</p>
            <p class="comment-text" th:text="${reply.msg}">Comment</p>
    </div>

            <h2>Add a Comment</h2>
            <form th:action="@{/community/post/{id}/comment(id=${post.pid})}" method="post">
                <textarea name="msg" rows="5" required></textarea>
                <button type="submit" class="btn">Submit</button>
            </form>

        </div>
        <!--<div th:replace="fragments/footer :: footer"></div>-->
</body>
</html>
