<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">

    <title>마이페이지</title>
</head>
<body>
<header>
    <a href="/">
        <img th:src="@{/images/back.svg}" alt="back">
    </a>
    <span>마이페이지</span>
        <img th:src="@{/images/dots.svg}" alt="back">
</header>

<div>
    <div class="profile-box">
        <div id="profile-line">
        <img th:src="@{/images/profile.svg}" alt="profile" style="width: 40px;
height: 40px;">
        <span th:if="${user.username}" th:text="${user.username}" id="profile-name"></span>
    </div>
        <img th:src="@{/images/arrow.svg}" alt="back">
    </div>
    <div id="back-line"></div>
    <div id="menu-list">
        <div class="menu">
            <span class="menu-title">일반 설정</span>
        </div>
        <div class="menu">
            <span class="menu-title">자주 물어보는 질문</span>
        </div>
        <div class="menu">
            <span class="menu-title">개인정보 처리방침</span>
        </div>
        <div class="menu">
            <span class="menu-title">서비스 이용 약관</span>
        </div>
        <div class="menu">
            <span class="menu-title">버전 정보</span>
        </div>
        <div class="menu">
            <span class="menu-title">로그아웃</span>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const currentUrl = window.location.pathname;
        const navItems = document.querySelectorAll('.nav-item-box');

        navItems.forEach(item => {
            const link = item.querySelector('a');
            if (link && link.getAttribute('href') === currentUrl) {
                item.classList.add('clicked');
            }
        });
    });

    function toggleIcon(element, url) {
        const navItems = document.querySelectorAll('.nav-item-box');
        navItems.forEach(item => {item.classList.remove('clicked')});
        element.classList.add('clicked');

        window.location.href = url;
    }
</script>

<div th:replace="fragments/navbar :: navbar"></div>
</body>
</html>