<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>마이페이지</title>
</head>
<body>
<h1>마이페이지</h1>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const currentUrl = window.location.pathname;
        const navItems = document.querySelectorAll('.nav-item-box');

        navItems.forEach(item => {
            const link = item.querySelector('a');
            if (link && link.getAttribute('href') === currentUrl) {
                item.classList.add('clicked');
            }
        });
    });

    function toggleIcon(element, url) {
        const navItems = document.querySelectorAll('.nav-item-box');
        navItems.forEach(item => {item.classList.remove('clicked')});
        element.classList.add('clicked');

        window.location.href = url;
    }
</script>

<div th:replace="fragments/navbar :: navbar"></div>
</body>
</html>