<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>홈</title>
</head>
<body>

<div id="logo-box">
    <img th:src="@{/images/logo.svg}" alt="back">
    <div style="font-weight: 600; font-size: 17px"><span th:if="${user.username}" th:text="${user.username}">username</span>님</div>
</div>

<div class="container">
    <div id="post-list">
        <div th:unless="${#lists.isEmpty(posts)}" th:each="post : ${posts}">
                <div id="my-post" th:onclick="'goToPost(' + ${post.pid} + ')'">
                    <div id="my-post-title">
                        <div id="dot"></div>
                        <span th:text="${post.postTitle}" id="title-text">게시물 제목</span>
                    </div>
                    <span id="replies_num">
                        <span th:text="${post.replyNum}">댓글 수</span>개의 댓글
                    </span>
                </div>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(posts)}" id="replies-num" style="margin-top: 30px">
        아직 작성한 글이 없습니다.
    </div>

<!--  추후 본인의 마니또가 올린 마지막 게시물로 이동하게 수정할 예정  -->
    <div id="board-btn" th:onclick="goToBoard()">
        마니또 반응보러 가기
    </div>
</div>


<script>
    const goToBoard = () => {
        location.href = '/community'
    }

    const goToPost = (postId) => {
        location.href = '/community/post/' + postId
    }

    document.addEventListener('DOMContentLoaded', () => {
        const currentUrl = window.location.pathname;
        const navItems = document.querySelectorAll('.nav-item-box');

        navItems.forEach(item => {
            const link = item.querySelector('a');
            if (link && link.getAttribute('href') === currentUrl) {
                item.classList.add('clicked');
            }
        });
    });

    function toggleIcon(element) {
        const navItems = document.querySelectorAll('.nav-item-box');
        navItems.forEach(item => {item.classList.remove('clicked')});
        element.classList.add('clicked');
    }
</script>

<div th:replace="fragments/navbar :: navbar"></div>
</body>
</html>